body,
html {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

.chat-header {
  padding: 10px;
  background-color: salmon;
}

.chat-content {
    margin: auto;
    overflow: auto;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.message {
    display: flex;
    align-items: flex-end;
    margin: 12px 0;
}

.bot-message .message-content {
    max-width: 70%;
    padding: 12px 16px;
    background-color: whitesmoke;
    border-radius: 16px;
}

.message .message-avatar {
    font-size: 16px;
    margin-right: 12px;
    color: whitesmoke;
    background-color: salmon;
    padding: 10px 8px;
    border-radius: 50%;
}

.user-input {
    margin: 10px 0;
    text-align: center;
}

.user-message {
    display: flex;
    align-items: flex-end;
    margin: 12px 0;
    justify-content: flex-end;
}

.user-message .message-content {
    max-width: 70%;
    padding: 12px 16px;
    background-color: dodgerblue;
    color: white;
    border-radius: 16px;
}

.user-message .message-avatar {
    font-size: 16px;
    margin-left: 12px;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 50%;
}

button {
    padding: 10px 20px;
    margin: 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

